<md-toolbar>
  <div class="md-toolbar-tools" layout="row" layout-align="center center">
    <md-button aria-label="Github"
      href="https://github.com/pekkaouli/o365"
      target="_blank"
    >
      <i class="mdi mdi-github-circle"></i>

      GitHub
    </md-button>

    <md-button aria-label="Issues"
      href="https://github.com/pekkaouli/o365/issues"
      target="_blank"
    >
      <i class="mdi mdi-bug"></i>

      Issues
    </md-button>

    <md-button aria-label="Pekka Ouli"
      href="https://github.com/pekkaouli"
      target="_blank"
    >
      <i class="mdi mdi-human"></i>

      Pekka Ouli
    </md-button>

    <span flex></span>

    <small>{{vm.version}}</small>
  </div>
</md-toolbar>
